.service__card {
  background-position: center;
  background-size: cover;
  height: 220px;
  border-radius: 1rem;
  cursor: pointer;
}
.service__image {
  transition: 0.3s ease-out;
}
.service__card:hover .service__image,
.service__card:hover .service__card__name {
  opacity: 0.7;
}

.service__card__name {
  background: var(--t-color);
  width: 50%;
  padding: 0.8rem 1.2rem;
  color: white;
  text-transform: uppercase;
  font-family: var(--m-font);
  font-size: 14px;
  margin-top: 3rem;
  border-bottom-right-radius: 5rem;
  transition: 0.4s linear;
  border: none;
}

