.home__page {
  background: url("../images/homepage-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
.home__containt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.home__search__area {
  border: 1px solid var(--p-color);
  width: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.1px 0.5rem;
  color: var(--p-color);
}
.searchbox {
  padding: 0.7rem 0.8rem;
  width: 100%;
  background-color: transparent;
  outline: none;
  font-size: 16px;
}

.searchbox::placeholder {
  color: var(--p-color);
}

.search__btn {
  color: var(--p-color);
}
.search__btn:hover {
  color: red;
  cursor: pointer;
}

.home__containt > p {
  font-family: var(--f-font);
  font-size: 32px;
  color: var(--p-color);
}
.home__containt > p > span {
  color: red;
}
.contact__btn {
  padding: 0.8rem;
  color: var(--p-color);
  border: 1px solid var(--p-color);
  width: 200px;
  text-align: center;
  border-radius: 20px;
  margin-top: 1rem;
  font-weight: bolder;
  transition: all 0.3s ease-in;
}
.contact__btn:hover {
  color: white;
  background: var(--p-color);
  font-weight: 400;
}
